#main-menu-button-grid {
	display: flex;
	flex-direction: row;
	position: absolute;
	gap: 30vw;
	align-content: center;
	align-items: center;
	justify-content: center;
}

#button-create {
	flex-grow: 1;
	z-index: 2;
}

#button-local {
	flex-grow: 1;
	z-index: 2;
}

#main-menu-button-grid2 {
	display: flex;
	flex-direction: column;
	position: absolute;
	align-content: center;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	gap: 3vh;
}

#button-join {
	flex-grow: 1;
	z-index: 2;
}

#button-matchmaking {
	flex-grow: 1;
	z-index: 2;
}

#create-menu-button-grid {
	display: flex;
	flex-direction: row;
	position: absolute;
	align-content: center;
	align-items: center;
	justify-content: center;
	gap: 1vw;
	top: 30%;
	left: 6%;
}

#button-return {
	position: absolute;
	padding: 0;
	margin: 0;
	top: 1%;
	right: 1%;
	z-index: 1;
}

#button-anyone {
	flex-grow: 1;
	z-index: 2;
}

#button-friends {
	flex-grow: 1;
	z-index: 2;
}

#button-invitation {
	flex-grow: 1;
	z-index: 2;
}

#buttons-plus-minus {
	position: absolute;
	display: flex;
	left: 46%;
	top: 52%;
	flex-direction: column;
	z-index: 2;
}

#button-validate {
	position: absolute;
	padding: 0;
	bottom: 5%;
	left: 36%;
	z-index: 1;
}

#button-opp-left-ok {
	position: absolute;
	padding: 0;
	bottom: 5%;
	left: 38%;
	z-index: 0;
}