#canvas-parent {
	position: relative;
	justify-content: center;
	display: flex;
	min-width: fit-content;
	min-height: fit-content;
}

#main-menu-button-grid {
	display: flex;
	flex-direction: row;
	position: absolute;
	align-content: center;
	align-items: center;
	justify-content: center;
	gap: 15em;

	bottom: 5em;
}

#button-create {
	flex-grow: 1;
}

#button-local {
	flex-grow: 1;
}

#main-menu-button-grid2 {
	display: flex;
	flex-direction: column;
	position: absolute;
	align-content: center;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	gap: 1em;
}

#button-join {
	flex-grow: 1;
}

#button-matchmaking {
	flex-grow: 1;
}

/* 
.button-local {
	left: 0px;
	bottom: 200px;
}

.button-matchmaking {
	left: 500px;
	bottom: 200px;
}

.button-join {
	left: 700px;
	bottom: 200px;
}

.button-create {
	left: 700px;
	bottom: 200px;
} */
