backend/node_modules
backend/dist
frontend/node_modules
frontend/dist
frontend_old/node_modules
frontend_old/dist
pong_prototype/node_modules
pong_prototype/dist
pong_prototype/public/node_modules
pong_prototype/public/sketch
