.chat {
	margin: 0px;
	padding: 0px;
	flex: auto;
}

.form {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 10px;
	display: flex;
}

.input {
	flex: 10 1 auto;
}

.button {
	flex: auto;
}

.messages {
	list-style-type: none;
	padding-left: 0%;
	padding-right: 0%;
	margin-left: 0%;
	margin-right: 0%;
	overflow-y: scroll;
	height: calc(100vh - 230px);
	
}

.flexwrapper {
	display:flex;
	flex-direction: column;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.current li, .current .user{
	align-self: flex-end;
}

.current li{
	border-radius: 0.4em 0.4em 0em 0.4em;
}

.other li, .other .user{
	align-self: flex-start;
}

.other li{
	border-radius: 0.4em 0.4em 0.4em 0em;
}

.message li{
	border: solid 1px black;
	width: fit-content;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
	margin-bottom: 0%;
	/* border-	radius: 0.4em 0.4em 0.4em 0em; */
	margin-left: 0%;
	margin-right: 0%;
	max-width: inherit;
	word-wrap: anywhere;
	white-space:pre-wrap;
}

.flex {
	display: flex;
	flex-direction: column;
}

.user {
	margin-top: 0%;
	margin-bottom: 0.5em;
}

.newuser {
	color: gray;
	margin-bottom: 0.5em;
	align-self: center;
}