.banner {
	height: 7vh;
	background-color: rgb(150, 130, 250, 0.7);
	padding-right: 2%;

	border-bottom: solid 3px black;
	display: flex;
	justify-content: flex-end;
}

.title {
	color: black;
	padding-top: 2.5vh;
}

.logo {
	height: 120%;
	position: relative;
}